Lenguaje de Manipulación de Datos
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/apache-hive-course) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/apache-hive-course/tree/master/) para explorar el repositorio usando en `nbviewer`.

---

In [1]:
%run hivemagic.py

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Users/jdvelasq/hive/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/Users/jdvelasq/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
Hive Session ID = 31fe3ad2-5e17-47b1-a6c4-6325a69dc62c

Logging initialized using configuration in jar:file:/Users/jdvelasq/hive/lib/hive-common-3.1.0.jar!/hive-log4j2.properties Async: true
Hive Session ID = 2066b975-d018-4f4e-b1a4-c478aef89096
Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.

---

**Preparación de datos.**

In [2]:
%%hive
DROP DATABASE IF EXISTS DMLdb CASCADE;
CREATE DATABASE DMLdb;
USE DMLdb;
CREATE TABLE persons (
    ssn VARCHAR(11),
    phone VARCHAR(14),
    city VARCHAR(30),
    maritalstatus VARCHAR(10),
    fullname VARCHAR(40),
    birthdate DATE
);

DROP DATABASE IF EXISTS DMLdb CASCADE;
OK
Time taken: 1.548 seconds
CREATE DATABASE DMLdb;
OK
Time taken: 0.094 seconds
USE DMLdb;
OK
Time taken: 0.007 seconds
CREATE TABLE persons (
    ssn VARCHAR(11),
    phone VARCHAR(14),
    city VARCHAR(30),
    maritalstatus VARCHAR(10),
    fullname VARCHAR(40),
    birthdate DATE
);
OK
Time taken: 0.226 seconds

---

**INSERT** 

    INSERT INTO TABLE tablename VALUES values_row [, values_row ...]
    
    values_row: 
       (value [, value ...])
       
Note que a diferencia de SQL, aca no es posible indicar para que columnas se van a insertar los valores, de tal manera que siempre se deben dar valores para todas las columnas.

In [3]:
%%hive
--
-- Inserta el registro en la tabla.
-- Los valores están en el mismo orden de los campos.
--
INSERT INTO persons VALUES
   ("216-51-1025","(09)-5580-7527","Memphis (Tennessee)","Single","Marco Goodman","1988-06-30");
    
SELECT * FROM persons;

--
-- Inserta el registro en la tabla.
-- Los valores están en el mismo orden de los campos.
--
INSERT INTO persons VALUES
oodman","1988-06-30");
Query ID = jdvelasq_20180909213533_491017d8-8cd9-456e-be7b-f527ef4ace5f
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-09-09 21:35:36,787 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local1384623658_0001
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Users/jdvelasq/warehouse/dmldb.db/persons/.hive-staging_hive_2018-09-09_21-35-33_087_2369206570743151897-1/-ext-10000
Loading data to table dmldb.persons
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 3.832 seconds

SELECT * FROM persons;
OK
216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
Time taken: 0.149 seconds, Fetched: 1 row(s)

In [4]:
%%hive
--
-- Inserta varios registros a la vez.
-- Los valores deben estar en el mismo orden de los campos.
--
INSERT INTO persons VALUES
    ("116-51-1291","(07)-2905-7818","Buffalo (New York)","Married","Roxanne Kerns","1974-11-27"),
    ("177-44-1159","(09)-5062-6922","Detroit (Michigan)","Single","Regina Lauritzen","1969-07-27");
    
SELECT * FROM persons;

--
-- Inserta varios registros a la vez.
-- Los valores deben estar en el mismo orden de los campos.
--
INSERT INTO persons VALUES
e Kerns","1974-11-27"),
Lauritzen","1969-07-27");
Query ID = jdvelasq_20180909213537_bbc6afa4-e033-44a8-aa33-cf85442dea6e
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-09-09 21:35:39,347 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local2130312190_0002
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Users/jdvelasq/warehouse/dmldb.db/persons/.hive-staging_hive_2018-09-09_21-35-37_615_1025289639570410066-1/-ext-10000
Loading data to table dmldb.persons
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 1.828 seconds

SELECT * FROM persons;
OK
216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
Time taken: 0.085 seconds, Fetched: 3 row(s)

**UPDATE**

Hive no soporta operaciones de actualización de registros o grupos de registros en tablas.

**DELETE**

Hive no soporta operaciones de borrado de registros o grupos de registros en tablas.

**ESCRITURA DE DATOS AL DISCO**

    INSERT OVERWRITE [LOCAL] DIRECTORY directory1
      [ROW FORMAT row_format] [STORED AS file_format] 
      SELECT ... FROM ...

Si el archivo requerido ya tiene el formato deseado, es posible copiarlo directamente del sistema de archivos. En caso contrario, puede usar un INSERT para realizar la conversión de formato.

In [5]:
## crea el directorio persons-data
!rm -rf persons-data
!mkdir persons-data

In [6]:
%%hive
INSERT OVERWRITE LOCAL DIRECTORY 'persons-data'
ROW FORMAT 
DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM persons;

INSERT OVERWRITE LOCAL DIRECTORY 'persons-data'
ROW FORMAT
DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM persons;
Query ID = jdvelasq_20180909213540_883a26ad-87b7-4991-982d-d7596b231c38
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-09-09 21:35:41,824 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local926221336_0003
Moving data to local directory persons-data
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 1.716 seconds

In [7]:
!ls persons-data/*

persons-data/000000_0

In [8]:
!cat persons-data/* > persons-data.csv
!cat persons-data.csv

216-51-1025,(09)-5580-7527,Memphis (Tennessee),Single,Marco Goodman,1988-06-30
116-51-1291,(07)-2905-7818,Buffalo (New York),Married,Roxanne Kerns,1974-11-27
177-44-1159,(09)-5062-6922,Detroit (Michigan),Single,Regina Lauritzen,1969-07-27

In [9]:
## se borra el archivo si existe
!rm -rf persons-data
!rm persons-data.csv

**LOAD DATA**

In [10]:
%%hive
-- el separador de campos debe ser ctrl-A
# LOAD DATA LOCAL INPATH 'files/SQL-personas.csv' OVERWRITE INTO TABLE persons;

-- el separador de campos debe ser ctrl-A
sons;

In [11]:
%%hive
-- SELECT * FROM persons;

-- SELECT * FROM persons;

**INSERT ... SELECT ... **

También es posible insertar datos desde queries. La sintaxis sería la siguiente:

    INSERT OVERWRITE TABLE bancos1
    SELECT * FROM Bancos
    WHERE .... ;
    

La clausula anterior es posible reescribirla como:

    FROM Bancos se 
    INSERT OVERWRITE TABLE bancos1
       SELECT * WEHRE ....
    INSERT OVERWRITE TABLE bancos2
       SELECT * WHERE ... ;
       
generando múltiples INSERT a tablas diferentes.

---

Lenguaje de Manipulación de Datos
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/apache-hive-course) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/apache-hive-course/tree/master/) para explorar el repositorio usando en `nbviewer`. 

---