Consultas
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/apache-hive-course) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/apache-hive-course/tree/master/) para explorar el repositorio usando en `nbviewer`.

---

In [1]:
%run hivemagic.py

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Users/jdvelasq/hive/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/Users/jdvelasq/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
Hive Session ID = 19249a77-ea69-45af-a095-5df4d56ad134

Logging initialized using configuration in jar:file:/Users/jdvelasq/hive/lib/hive-common-3.1.0.jar!/hive-log4j2.properties Async: true
Hive Session ID = ac756863-8898-4199-b152-f2812d554940
Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.

---

**Preparación de datos.**

In [2]:
%%hive
DROP DATABASE IF EXISTS SQLdb CASCADE;

CREATE DATABASE SQLdb;
USE SQLdb;

CREATE TABLE IF NOT EXISTS personas (
    ssn VARCHAR(11),
    phone VARCHAR(14),
    city VARCHAR(40),
    maritalstatus VARCHAR(10),
    fullname VARCHAR(40),
    birthdate DATE
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION 'files/SQL-personas';


CREATE TABLE IF NOT EXISTS bancos (
    bank VARCHAR(40),
    ccn VARCHAR(20),
    ssn VARCHAR(15)
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION 'files/SQL-bancos';


CREATE EXTERNAL TABLE IF NOT EXISTS franquicias (
    ccntype VARCHAR(40),
    ccn VARCHAR(20),
    validthru DATE,
    userkey VARCHAR(6),
    userpin VARCHAR(4),
    quota SMALLINT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION 'files/SQL-franquicias';

DROP DATABASE IF EXISTS SQLdb CASCADE;
OK
Time taken: 1.569 seconds

CREATE DATABASE SQLdb;
OK
Time taken: 0.091 seconds
USE SQLdb;
OK
Time taken: 0.008 seconds

CREATE TABLE IF NOT EXISTS personas (
    ssn VARCHAR(11),
    phone VARCHAR(14),
    city VARCHAR(40),
    maritalstatus VARCHAR(10),
    fullname VARCHAR(40),
    birthdate DATE
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION 'files/SQL-personas';
OK
Time taken: 0.176 seconds


CREATE TABLE IF NOT EXISTS bancos (
    bank VARCHAR(40),
    ccn VARCHAR(20),
    ssn VARCHAR(15)
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION 'files/SQL-bancos';
OK
Time taken: 0.03 seconds


CREATE EXTERNAL TABLE IF NOT EXISTS franquicias (
    ccntype VARCHAR(40),
    ccn VARCHAR(20),
    validthru DATE,
    userkey VARCHAR(6),
    userpin VARCHAR(4),
    quota SMALLINT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION 'files/SQL-franquicias';
OK
Time taken: 0.033 seconds

In [3]:
%%hive
SELECT * FROM personas;

SELECT * FROM personas;
OK
216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
116-81-1883	(03)-1350-7402	Chandler (Arizona)	Divorced	Howard Samsel	1989-11-26
429-83-1156	(09)-5794-9470	Scottsdale (Arizona)	Married	Gabriel Kingston	1978-05-05
381-54-1605	(05)-5330-5036	Albuquerque (New Mexico)	Single	Carrie Bigelow	1982-05-02
224-99-1262	(05)-3339-3262	Milwaukee (Wisconsin)	Married	Nichelle Thaxton	1988-01-02
301-25-1394	(07)-4370-8507	Houston (Texas)	Single	Joaquin Yap	1972-11-12
323-51-1535	(03)-5179-6500	Las Vegas (Nevada)	Married	Yu Kittredge	1978-01-22
216-85-1367	(07)-2905-9114	Saint Paul (Minnesota)	Divorced	Tania Raley	1973-12-16
166-82-1605	(09)-6473-4208	Irvine (California)	Married	Demetrius Fry	1975-03-27
116-54-1259	(04)-3468-6535	San Bernardino (California)	Divorced	Jake Vansant	1980-02-01
224-55-1496	(03)-8685-6502	Aurora (Colorado)	Common-Law	Tamesha Lawlor	1983-10-02
177-44-1054	(08)-5902-5867	El Paso (Texas)	Single	Millie Lasher	1976-03-29
320-54-1856	(04)-3858-1079	Houston (Texas)	Divorced	Lilly Macdonald	1983-09-07
144-25-1448	(09)-5179-2725	Durham (North Carolina)	Divorced	Gerald Glynn	1985-07-07
144-54-1840	(03)-7508-9910	Orlando (Florida)	Single	Felipe Malpass	1982-06-08
224-25-1891	(05)-9333-5713	Las Vegas (Nevada)	Divorced	Wallace Lowery	1971-12-19
216-82-1048	(04)-1199-9661	Las Vegas (Nevada)	Married	Pedro Welch	1972-05-07
116-93-1394	(05)-9333-4606	Tampa (Florida)	Married	Betty Fitzhugh	1973-08-12
279-81-1912	(08)-2905-8942	Winston–Salem (North Carolina)	Single	Lauren Seifert	1977-10-07
425-82-1851	(03)-5794-3345	Aurora (Colorado)	Married	Livia Castillo	1972-02-26
339-74-1545	(08)-4858-6766	Atlanta (Georgia)	Married	Leland Scully	1975-07-25
368-83-1054	(05)-7508-4870	Omaha (Nebraska)	Married	Elton Castellanos	1975-10-08
339-82-1442	(09)-5854-7191	Henderson (Nevada)	Single	Sondra Pike	1980-06-25
391-55-1442	(05)-6865-1079	Baton Rouge (Louisiana)	Divorced	Laquita Murrin	1984-04-21
177-23-1359	(07)-5854-6781	St. Louis (Missouri)	Single	Gigi Ragland	1977-01-27
238-81-1227	(03)-9999-9910	Laredo (Texas)	Common-Law	Ronald Signorelli	1977-06-13
287-74-1145	(03)-5794-9130	Fremont (California)	Single	Wilson Upshaw	1976-02-21
Time taken: 1.262 seconds, Fetched: 29 row(s)

---

**SELECT**

    SELECT what FROM tbl_name [WHERE where-conditions] [ORDER BY column_name];

In [5]:
%%hive
--
-- Este es el comando básico para visualizar el contenido de la BD
--
SELECT * FROM personas;

--
-- Este es el comando básico para visualizar el contenido de la BD
--
SELECT * FROM personas;
OK
216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
116-81-1883	(03)-1350-7402	Chandler (Arizona)	Divorced	Howard Samsel	1989-11-26
429-83-1156	(09)-5794-9470	Scottsdale (Arizona)	Married	Gabriel Kingston	1978-05-05
381-54-1605	(05)-5330-5036	Albuquerque (New Mexico)	Single	Carrie Bigelow	1982-05-02
224-99-1262	(05)-3339-3262	Milwaukee (Wisconsin)	Married	Nichelle Thaxton	1988-01-02
301-25-1394	(07)-4370-8507	Houston (Texas)	Single	Joaquin Yap	1972-11-12
323-51-1535	(03)-5179-6500	Las Vegas (Nevada)	Married	Yu Kittredge	1978-01-22
216-85-1367	(07)-2905-9114	Saint Paul (Minnesota)	Divorced	Tania Raley	1973-12-16
166-82-1605	(09)-6473-4208	Irvine (California)	Married	Demetrius Fry	1975-03-27
116-54-1259	(04)-3468-6535	San Bernardino (California)	Divorced	Jake Vansant	1980-02-01
224-55-1496	(03)-8685-6502	Aurora (Colorado)	Common-Law	Tamesha Lawlor	1983-10-02
177-44-1054	(08)-5902-5867	El Paso (Texas)	Single	Millie Lasher	1976-03-29
320-54-1856	(04)-3858-1079	Houston (Texas)	Divorced	Lilly Macdonald	1983-09-07
144-25-1448	(09)-5179-2725	Durham (North Carolina)	Divorced	Gerald Glynn	1985-07-07
144-54-1840	(03)-7508-9910	Orlando (Florida)	Single	Felipe Malpass	1982-06-08
224-25-1891	(05)-9333-5713	Las Vegas (Nevada)	Divorced	Wallace Lowery	1971-12-19
216-82-1048	(04)-1199-9661	Las Vegas (Nevada)	Married	Pedro Welch	1972-05-07
116-93-1394	(05)-9333-4606	Tampa (Florida)	Married	Betty Fitzhugh	1973-08-12
279-81-1912	(08)-2905-8942	Winston–Salem (North Carolina)	Single	Lauren Seifert	1977-10-07
425-82-1851	(03)-5794-3345	Aurora (Colorado)	Married	Livia Castillo	1972-02-26
339-74-1545	(08)-4858-6766	Atlanta (Georgia)	Married	Leland Scully	1975-07-25
368-83-1054	(05)-7508-4870	Omaha (Nebraska)	Married	Elton Castellanos	1975-10-08
339-82-1442	(09)-5854-7191	Henderson (Nevada)	Single	Sondra Pike	1980-06-25
391-55-1442	(05)-6865-1079	Baton Rouge (Louisiana)	Divorced	Laquita Murrin	1984-04-21
177-23-1359	(07)-5854-6781	St. Louis (Missouri)	Single	Gigi Ragland	1977-01-27
238-81-1227	(03)-9999-9910	Laredo (Texas)	Common-Law	Ronald Signorelli	1977-06-13
287-74-1145	(03)-5794-9130	Fremont (California)	Single	Wilson Upshaw	1976-02-21
Time taken: 0.099 seconds, Fetched: 29 row(s)

In [6]:
%%hive
--
-- Se limita la cantidad de registros a visualizar.
--
SELECT * FROM personas LIMIT 2;

--
-- Se limita la cantidad de registros a visualizar.
--
SELECT * FROM personas LIMIT 2;
OK
216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
Time taken: 0.106 seconds, Fetched: 2 row(s)

In [7]:
%%hive
--
-- Este comando permite ver los registro únicos de un campo.
--
SELECT DISTINCT maritalstatus FROM personas;

--
-- Este comando permite ver los registro únicos de un campo.
--
SELECT DISTINCT maritalstatus FROM personas;
Query ID = jdvelasq_20180909214744_7cfafc15-8e94-414c-aead-3a13b8d31469
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-09 21:47:47,242 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local611960578_0001
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Common-Law
Divorced
Married
Single
Time taken: 2.508 seconds, Fetched: 4 row(s)

In [8]:
%%hive
--
-- Se indica que campos se desean seleccionar.
--
SELECT ssn, fullname FROM personas;

--
-- Se indica que campos se desean seleccionar.
--
SELECT ssn, fullname FROM personas;
OK
216-51-1025	Marco Goodman
116-51-1291	Roxanne Kerns
177-44-1159	Regina Lauritzen
116-81-1883	Howard Samsel
429-83-1156	Gabriel Kingston
381-54-1605	Carrie Bigelow
224-99-1262	Nichelle Thaxton
301-25-1394	Joaquin Yap
323-51-1535	Yu Kittredge
216-85-1367	Tania Raley
166-82-1605	Demetrius Fry
116-54-1259	Jake Vansant
224-55-1496	Tamesha Lawlor
177-44-1054	Millie Lasher
320-54-1856	Lilly Macdonald
144-25-1448	Gerald Glynn
144-54-1840	Felipe Malpass
224-25-1891	Wallace Lowery
216-82-1048	Pedro Welch
116-93-1394	Betty Fitzhugh
279-81-1912	Lauren Seifert
425-82-1851	Livia Castillo
339-74-1545	Leland Scully
368-83-1054	Elton Castellanos
339-82-1442	Sondra Pike
391-55-1442	Laquita Murrin
177-23-1359	Gigi Ragland
238-81-1227	Ronald Signorelli
287-74-1145	Wilson Upshaw
Time taken: 0.236 seconds, Fetched: 29 row(s)

In [11]:
%%hive
--
-- Expresiones regulares en los nombres
--
SELECT 's*' FROM personas;

--
-- Expresiones regulares en los nombres
--
SELECT 's*' FROM personas;
OK
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
s*
Time taken: 0.083 seconds, Fetched: 29 row(s)

In [13]:
%%hive
--
-- También es posible usar funciones y realizar cómputos con los
-- valores de las columnas
--
SELECT upper(fullname) FROM personas;

--
-- También es posible usar funciones y realizar cómputos con los
-- valores de las columnas
--
SELECT upper(fullname) FROM personas;
OK
MARCO GOODMAN
ROXANNE KERNS
REGINA LAURITZEN
HOWARD SAMSEL
GABRIEL KINGSTON
CARRIE BIGELOW
NICHELLE THAXTON
JOAQUIN YAP
YU KITTREDGE
TANIA RALEY
DEMETRIUS FRY
JAKE VANSANT
TAMESHA LAWLOR
MILLIE LASHER
LILLY MACDONALD
GERALD GLYNN
FELIPE MALPASS
WALLACE LOWERY
PEDRO WELCH
BETTY FITZHUGH
LAUREN SEIFERT
LIVIA CASTILLO
LELAND SCULLY
ELTON CASTELLANOS
SONDRA PIKE
LAQUITA MURRIN
GIGI RAGLAND
RONALD SIGNORELLI
WILSON UPSHAW
Time taken: 0.31 seconds, Fetched: 29 row(s)

---
**Ejercicio.--** Cuáles funciones se pueden aplicar en `Hive` en una clausula SELECT?.

**Ejercicio.--** Qué función cumplen las siguientes funciones en una clausula SELECT?

* `explode`.


* `json_tuple`.


* `parse_url_tuple`.


* `stack`

---

**WHERE**

In [14]:
%%hive
--
-- Condicional.
--
SELECT * FROM personas WHERE birthdate >= "1974-01-01";

--
-- Condicional.
--
SELECT * FROM personas WHERE birthdate >= "1974-01-01";
OK
216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
116-81-1883	(03)-1350-7402	Chandler (Arizona)	Divorced	Howard Samsel	1989-11-26
429-83-1156	(09)-5794-9470	Scottsdale (Arizona)	Married	Gabriel Kingston	1978-05-05
381-54-1605	(05)-5330-5036	Albuquerque (New Mexico)	Single	Carrie Bigelow	1982-05-02
224-99-1262	(05)-3339-3262	Milwaukee (Wisconsin)	Married	Nichelle Thaxton	1988-01-02
323-51-1535	(03)-5179-6500	Las Vegas (Nevada)	Married	Yu Kittredge	1978-01-22
166-82-1605	(09)-6473-4208	Irvine (California)	Married	Demetrius Fry	1975-03-27
116-54-1259	(04)-3468-6535	San Bernardino (California)	Divorced	Jake Vansant	1980-02-01
224-55-1496	(03)-8685-6502	Aurora (Colorado)	Common-Law	Tamesha Lawlor	1983-10-02
177-44-1054	(08)-5902-5867	El Paso (Texas)	Single	Millie Lasher	1976-03-29
320-54-1856	(04)-3858-1079	Houston (Texas)	Divorced	Lilly Macdonald	1983-09-07
144-25-1448	(09)-5179-2725	Durham (North Carolina)	Divorced	Gerald Glynn	1985-07-07
144-54-1840	(03)-7508-9910	Orlando (Florida)	Single	Felipe Malpass	1982-06-08
279-81-1912	(08)-2905-8942	Winston–Salem (North Carolina)	Single	Lauren Seifert	1977-10-07
339-74-1545	(08)-4858-6766	Atlanta (Georgia)	Married	Leland Scully	1975-07-25
368-83-1054	(05)-7508-4870	Omaha (Nebraska)	Married	Elton Castellanos	1975-10-08
339-82-1442	(09)-5854-7191	Henderson (Nevada)	Single	Sondra Pike	1980-06-25
391-55-1442	(05)-6865-1079	Baton Rouge (Louisiana)	Divorced	Laquita Murrin	1984-04-21
177-23-1359	(07)-5854-6781	St. Louis (Missouri)	Single	Gigi Ragland	1977-01-27
238-81-1227	(03)-9999-9910	Laredo (Texas)	Common-Law	Ronald Signorelli	1977-06-13
287-74-1145	(03)-5794-9130	Fremont (California)	Single	Wilson Upshaw	1976-02-21
Time taken: 0.127 seconds, Fetched: 22 row(s)

La función LIKE permite buscar patrones específicos dentro de cadenas de caracteres.

    > LIKE 'a%'   : Encuentra los valores que inician con 'a'
    > LIKE '%a'   : Encuentra los valores que terminan con 'a'
    > LIKE '%a%'  : Encuentra los valores que contengan 'a' en cualquier posición
    > LIKE '_a%'  : Encuentra los valores que contengan 'a' en la segunda posición
    > LIKE 'a_%_%': Encuentra los valores que inician con 'a' y tienen al menos 3 caracteres
    > LIKE 'a%o'  : Encuentra los valores que inician con 'a' y terminan con 'o'

---
**Ejercicio.--** Que significa el comando `RLIKE` que soporta Hive?

---

In [15]:
%%hive
--
-- Condicional para cadenas de caracteres.
--
SELECT * FROM personas WHERE fullname LIKE "R%";

--
-- Condicional para cadenas de caracteres.
--
SELECT * FROM personas WHERE fullname LIKE "R%";
OK
116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
238-81-1227	(03)-9999-9910	Laredo (Texas)	Common-Law	Ronald Signorelli	1977-06-13
Time taken: 0.092 seconds, Fetched: 3 row(s)

In [16]:
%%hive
--
-- Conectores lógicos (OR).
--
SELECT * FROM personas WHERE maritalstatus = 'Married' OR fullname LIKE 'R%';

--
-- Conectores lógicos (OR).
--
%';
OK
116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
429-83-1156	(09)-5794-9470	Scottsdale (Arizona)	Married	Gabriel Kingston	1978-05-05
224-99-1262	(05)-3339-3262	Milwaukee (Wisconsin)	Married	Nichelle Thaxton	1988-01-02
323-51-1535	(03)-5179-6500	Las Vegas (Nevada)	Married	Yu Kittredge	1978-01-22
166-82-1605	(09)-6473-4208	Irvine (California)	Married	Demetrius Fry	1975-03-27
216-82-1048	(04)-1199-9661	Las Vegas (Nevada)	Married	Pedro Welch	1972-05-07
116-93-1394	(05)-9333-4606	Tampa (Florida)	Married	Betty Fitzhugh	1973-08-12
425-82-1851	(03)-5794-3345	Aurora (Colorado)	Married	Livia Castillo	1972-02-26
339-74-1545	(08)-4858-6766	Atlanta (Georgia)	Married	Leland Scully	1975-07-25
368-83-1054	(05)-7508-4870	Omaha (Nebraska)	Married	Elton Castellanos	1975-10-08
238-81-1227	(03)-9999-9910	Laredo (Texas)	Common-Law	Ronald Signorelli	1977-06-13
Time taken: 0.085 seconds, Fetched: 12 row(s)

In [17]:
%%hive
--
-- Conectores lógicos (AND).
--
SELECT * FROM personas WHERE maritalstatus = 'Married' AND fullname LIKE 'R%';

--
-- Conectores lógicos (AND).
--
R%';
OK
116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
Time taken: 0.087 seconds, Fetched: 1 row(s)

La función ORDER BY permite organizar los registros de manera ascendente (ORDER BY ... ASC) o de manera descendente (ORDER BY ... DESC). Por defecto, ordena de manera ascendente.

In [18]:
%%hive
--
-- Ordenamiento
--
SELECT * FROM personas ORDER BY maritalstatus LIMIT 4;

--
-- Ordenamiento
--
SELECT * FROM personas ORDER BY maritalstatus LIMIT 4;
Query ID = jdvelasq_20180909214935_4d51673e-5838-4011-8096-cbbef2346198
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-09 21:49:37,029 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local827285872_0002
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
238-81-1227	(03)-9999-9910	Laredo (Texas)	Common-Law	Ronald Signorelli	1977-06-13
224-55-1496	(03)-8685-6502	Aurora (Colorado)	Common-Law	Tamesha Lawlor	1983-10-02
116-81-1883	(03)-1350-7402	Chandler (Arizona)	Divorced	Howard Samsel	1989-11-26
216-85-1367	(07)-2905-9114	Saint Paul (Minnesota)	Divorced	Tania Raley	1973-12-16
Time taken: 1.659 seconds, Fetched: 4 row(s)

In [19]:
%%hive
--
-- Condicional para campos string
--
SELECT * FROM personas WHERE maritalstatus IN ('Married','Single');

--
-- Condicional para campos string
--
SELECT * FROM personas WHERE maritalstatus IN ('Married','Single');
OK
216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
429-83-1156	(09)-5794-9470	Scottsdale (Arizona)	Married	Gabriel Kingston	1978-05-05
381-54-1605	(05)-5330-5036	Albuquerque (New Mexico)	Single	Carrie Bigelow	1982-05-02
224-99-1262	(05)-3339-3262	Milwaukee (Wisconsin)	Married	Nichelle Thaxton	1988-01-02
301-25-1394	(07)-4370-8507	Houston (Texas)	Single	Joaquin Yap	1972-11-12
323-51-1535	(03)-5179-6500	Las Vegas (Nevada)	Married	Yu Kittredge	1978-01-22
166-82-1605	(09)-6473-4208	Irvine (California)	Married	Demetrius Fry	1975-03-27
177-44-1054	(08)-5902-5867	El Paso (Texas)	Single	Millie Lasher	1976-03-29
144-54-1840	(03)-7508-9910	Orlando (Florida)	Single	Felipe Malpass	1982-06-08
216-82-1048	(04)-1199-9661	Las Vegas (Nevada)	Married	Pedro Welch	1972-05-07
116-93-1394	(05)-9333-4606	Tampa (Florida)	Married	Betty Fitzhugh	1973-08-12
279-81-1912	(08)-2905-8942	Winston–Salem (North Carolina)	Single	Lauren Seifert	1977-10-07
425-82-1851	(03)-5794-3345	Aurora (Colorado)	Married	Livia Castillo	1972-02-26
339-74-1545	(08)-4858-6766	Atlanta (Georgia)	Married	Leland Scully	1975-07-25
368-83-1054	(05)-7508-4870	Omaha (Nebraska)	Married	Elton Castellanos	1975-10-08
339-82-1442	(09)-5854-7191	Henderson (Nevada)	Single	Sondra Pike	1980-06-25
177-23-1359	(07)-5854-6781	St. Louis (Missouri)	Single	Gigi Ragland	1977-01-27
287-74-1145	(03)-5794-9130	Fremont (California)	Single	Wilson Upshaw	1976-02-21
Time taken: 0.206 seconds, Fetched: 20 row(s)

In [20]:
%%hive
--
-- Condicional para campos string
--
SELECT * FROM personas WHERE maritalstatus NOT IN ('Married','Divorced');

--
-- Condicional para campos string
--
SELECT * FROM personas WHERE maritalstatus NOT IN ('Married','Divorced');
OK
216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
381-54-1605	(05)-5330-5036	Albuquerque (New Mexico)	Single	Carrie Bigelow	1982-05-02
301-25-1394	(07)-4370-8507	Houston (Texas)	Single	Joaquin Yap	1972-11-12
224-55-1496	(03)-8685-6502	Aurora (Colorado)	Common-Law	Tamesha Lawlor	1983-10-02
177-44-1054	(08)-5902-5867	El Paso (Texas)	Single	Millie Lasher	1976-03-29
144-54-1840	(03)-7508-9910	Orlando (Florida)	Single	Felipe Malpass	1982-06-08
279-81-1912	(08)-2905-8942	Winston–Salem (North Carolina)	Single	Lauren Seifert	1977-10-07
339-82-1442	(09)-5854-7191	Henderson (Nevada)	Single	Sondra Pike	1980-06-25
177-23-1359	(07)-5854-6781	St. Louis (Missouri)	Single	Gigi Ragland	1977-01-27
238-81-1227	(03)-9999-9910	Laredo (Texas)	Common-Law	Ronald Signorelli	1977-06-13
287-74-1145	(03)-5794-9130	Fremont (California)	Single	Wilson Upshaw	1976-02-21
Time taken: 0.08 seconds, Fetched: 12 row(s)

In [21]:
%%hive
--
-- Combinación de clausulas opcionales.
--
SELECT * FROM personas WHERE birthdate >= '1970-01-01' ORDER BY fullname;

--
-- Combinación de clausulas opcionales.
--
SELECT * FROM personas WHERE birthdate >= '1970-01-01' ORDER BY fullname;
Query ID = jdvelasq_20180909214954_45280075-7693-482f-bdc9-79e73b15585a
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-09 21:49:55,740 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local195710600_0003
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
116-93-1394	(05)-9333-4606	Tampa (Florida)	Married	Betty Fitzhugh	1973-08-12
381-54-1605	(05)-5330-5036	Albuquerque (New Mexico)	Single	Carrie Bigelow	1982-05-02
166-82-1605	(09)-6473-4208	Irvine (California)	Married	Demetrius Fry	1975-03-27
368-83-1054	(05)-7508-4870	Omaha (Nebraska)	Married	Elton Castellanos	1975-10-08
144-54-1840	(03)-7508-9910	Orlando (Florida)	Single	Felipe Malpass	1982-06-08
429-83-1156	(09)-5794-9470	Scottsdale (Arizona)	Married	Gabriel Kingston	1978-05-05
144-25-1448	(09)-5179-2725	Durham (North Carolina)	Divorced	Gerald Glynn	1985-07-07
177-23-1359	(07)-5854-6781	St. Louis (Missouri)	Single	Gigi Ragland	1977-01-27
116-81-1883	(03)-1350-7402	Chandler (Arizona)	Divorced	Howard Samsel	1989-11-26
116-54-1259	(04)-3468-6535	San Bernardino (California)	Divorced	Jake Vansant	1980-02-01
301-25-1394	(07)-4370-8507	Houston (Texas)	Single	Joaquin Yap	1972-11-12
391-55-1442	(05)-6865-1079	Baton Rouge (Louisiana)	Divorced	Laquita Murrin	1984-04-21
279-81-1912	(08)-2905-8942	Winston–Salem (North Carolina)	Single	Lauren Seifert	1977-10-07
339-74-1545	(08)-4858-6766	Atlanta (Georgia)	Married	Leland Scully	1975-07-25
320-54-1856	(04)-3858-1079	Houston (Texas)	Divorced	Lilly Macdonald	1983-09-07
425-82-1851	(03)-5794-3345	Aurora (Colorado)	Married	Livia Castillo	1972-02-26
216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
177-44-1054	(08)-5902-5867	El Paso (Texas)	Single	Millie Lasher	1976-03-29
224-99-1262	(05)-3339-3262	Milwaukee (Wisconsin)	Married	Nichelle Thaxton	1988-01-02
216-82-1048	(04)-1199-9661	Las Vegas (Nevada)	Married	Pedro Welch	1972-05-07
238-81-1227	(03)-9999-9910	Laredo (Texas)	Common-Law	Ronald Signorelli	1977-06-13
116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
339-82-1442	(09)-5854-7191	Henderson (Nevada)	Single	Sondra Pike	1980-06-25
224-55-1496	(03)-8685-6502	Aurora (Colorado)	Common-Law	Tamesha Lawlor	1983-10-02
216-85-1367	(07)-2905-9114	Saint Paul (Minnesota)	Divorced	Tania Raley	1973-12-16
224-25-1891	(05)-9333-5713	Las Vegas (Nevada)	Divorced	Wallace Lowery	1971-12-19
287-74-1145	(03)-5794-9130	Fremont (California)	Single	Wilson Upshaw	1976-02-21
323-51-1535	(03)-5179-6500	Las Vegas (Nevada)	Married	Yu Kittredge	1978-01-22
Time taken: 1.636 seconds, Fetched: 28 row(s)

---
**Ejercicio.--** Calcule la edad promedio de las personas.

---

**FUNCIONES**

In [22]:
%%hive
--
-- Cuenta cuantos registros hay en la tabla.
--
SELECT COUNT(*) FROM personas;

--
-- Cuenta cuantos registros hay en la tabla.
--
SELECT COUNT(*) FROM personas;
Query ID = jdvelasq_20180909215001_c3530f86-1c6a-4da0-898d-084ee2a56f73
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-09 21:50:03,218 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local40490744_0004
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
29
Time taken: 1.713 seconds, Fetched: 1 row(s)

In [23]:
%%hive
--
-- Cuenta la cantidad de registros con información 
-- en el campo fullname
--
SELECT COUNT(fullname) FROM personas;

--
-- Cuenta la cantidad de registros con información
-- en el campo fullname
--
SELECT COUNT(fullname) FROM personas;
Query ID = jdvelasq_20180909215010_798c25a6-778b-43cd-bb61-869404a8d137
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-09 21:50:12,382 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local297684796_0005
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
29
Time taken: 1.601 seconds, Fetched: 1 row(s)

---
**Ejercicio.--** Calcule la suma de las edades de las personas.

---

In [24]:
%%hive
--
-- Cuenta cuantas veces aparece cada año
-- de nacimiento en la tabla.
--
SELECT YEAR(birthdate), COUNT(*) FROM personas GROUP BY YEAR(birthdate);

--
-- Cuenta cuantas veces aparece cada año
-- de nacimiento en la tabla.
--
SELECT YEAR(birthdate), COUNT(*) FROM personas GROUP BY YEAR(birthdate);
Query ID = jdvelasq_20180909215020_31b299ba-844c-49b7-ac44-ca64f1abc09d
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-09 21:50:22,019 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1621903543_0006
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
1969	1
1971	1
1972	3
1973	2
1974	1
1975	3
1976	2
1977	3
1978	2
1980	2
1982	2
1983	2
1984	1
1985	1
1988	2
1989	1
Time taken: 1.705 seconds, Fetched: 16 row(s)

In [25]:
%%hive
--
-- Cuenta cuantas veces aparece cada año
-- de nacimiento en la tabla.
--
SELECT YEAR(birthdate), COUNT(*) FROM personas GROUP BY YEAR(birthdate);

--
-- Cuenta cuantas veces aparece cada año
-- de nacimiento en la tabla.
--
SELECT YEAR(birthdate), COUNT(*) FROM personas GROUP BY YEAR(birthdate);
Query ID = jdvelasq_20180909215029_0712fc5b-62a2-4134-bd7b-01aeead7420f
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-09 21:50:30,892 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local156421100_0007
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
1969	1
1971	1
1972	3
1973	2
1974	1
1975	3
1976	2
1977	3
1978	2
1980	2
1982	2
1983	2
1984	1
1985	1
1988	2
1989	1
Time taken: 1.692 seconds, Fetched: 16 row(s)

---
**Ejercicio.--** Agregue la columna edad con la edad de las personas.

---

**SUBCONSULTAS**

In [26]:
%%hive
--
-- Sub-consultas.
-- Busca la persona más vieja en la tabla.
--
SELECT * FROM personas WHERE birthdate = (SELECT MIN(birthdate) FROM persons);

--
-- Sub-consultas.
-- Busca la persona más vieja en la tabla.
--
ns);
FAILED: SemanticException Line 0:-1 Unsupported SubQuery Expression 'birthdate': Only SubQuery expressions that are top level conjuncts are allowed

---
**Ejercicio.--** Cómo se usa una clausula `CASE` ... `WHEN` ... `THEN` en Hive?

**Ejercicio.--** Cómo se usa una clausula `GROUPBY` en Hive?

**Ejercicio.--** Cómo se usa una clausula `HAVING` en Hive?
 
---

**JOIN**

Los joins permiten unir la información de dos o más tablas. Los distintos tipos de joins son explicados en la siguiente gráfica:

![joins.jpg](images/joins.jpg)

In [27]:
%%hive
--
-- Combina la información de las dos tablas usando como clave
-- el campo ssn.
--
SELECT fullname, phone, bank, personas.ssn, bancos.ssn
FROM personas JOIN bancos
ON personas.ssn = bancos.ssn LIMIT 10;

--
-- Combina la información de las dos tablas usando como clave
-- el campo ssn.
--
SELECT fullname, phone, bank, personas.ssn, bancos.ssn
FROM personas JOIN bancos
ON personas.ssn = bancos.ssn LIMIT 10;
Query ID = jdvelasq_20180909215102_884c2211-92fd-40cf-aad5-8ab8e2c78beb
Total jobs = 1
SLF4J: Found binding in [jar:file:/Users/jdvelasq/hive/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
2018-09-09 21:51:16	Starting to launch local task to process map join;	maximum memory = 239075328

2018-09-09 21:51:17	End of local task; Time Taken: 0.542 sec.
Execution completed successfully
MapredLocal task succeeded
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-09-09 21:51:22,177 Stage-3 map = 100%,  reduce = 0%
Ended Job = job_local481227128_0008
MapReduce Jobs Launched:
Stage-Stage-3:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Marco Goodman	(09)-5580-7527	BNP Paribas	216-51-1025	216-51-1025
Roxanne Kerns	(07)-2905-7818	BBVA Compass	116-51-1291	116-51-1291
Roxanne Kerns	(07)-2905-7818	Discover Financial	116-51-1291	116-51-1291
Regina Lauritzen	(09)-5062-6922	Popular. Inc.	177-44-1159	177-44-1159
Howard Samsel	(03)-1350-7402	BB&T	116-81-1883	116-81-1883
Gabriel Kingston	(09)-5794-9470	Fifth Third Bank	429-83-1156	429-83-1156
Gabriel Kingston	(09)-5794-9470	First Republic Bank	429-83-1156	429-83-1156
Carrie Bigelow	(05)-5330-5036	U.S. Bancorp	381-54-1605	381-54-1605
Nichelle Thaxton	(05)-3339-3262	BBVA Compass	224-99-1262	224-99-1262
Joaquin Yap	(07)-4370-8507	Santander Bank	301-25-1394	301-25-1394
Time taken: 19.75 seconds, Fetched: 10 row(s)

---
**Ejercicio.--** Genere una tabla que contenga la cantidad de tarjetas emitidas por cada banco (campo `bank`).

**Ejercicio.--** Genere una tabla que contenga la cantidad de tarjetas de cada franquicia (campo `ccntype`).

**Ejercicio.--** Genere una tabla que contenga el cliente más joven de cada banco.

**Ejercicio.--** Genere una tabla que contenga por cada banco, la cantidad de clientes nacidos cada año.

**Ejercicio.--** Genere una tabla que contenga la suma de los montos (`quote`) por franquisia.

**Ejercicio.--** Genere una tabla que contenga el banco, la franquisia y el nombre del titular de la tarjeta de crédito. 

---

Consultas
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/apache-hive-course) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/apache-hive-course/tree/master/) para explorar el repositorio usando en `nbviewer`. 

---