Gestión de Registros
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/apache-hive-course) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/apache-hive-course/tree/master/) para explorar el repositorio usando en `nbviewer`.

---

In [1]:
%run hivemagic.py

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Users/jdvelasq/hive/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/Users/jdvelasq/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
Hive Session ID = ee42b93c-3f20-4c48-996f-a3f301fad579

Logging initialized using configuration in jar:file:/Users/jdvelasq/hive/lib/hive-common-3.1.0.jar!/hive-log4j2.properties Async: true
Hive Session ID = 57317f13-a98d-42b3-89e0-37111fa6d0e3
Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.

---

In [2]:
%%hive
DROP DATABASE IF EXISTS mydb CASCADE;
CREATE DATABASE mydb;
USE mydb;

CREATE TABLE persons (
    id INT ,
    ssn VARCHAR(11),
    phone VARCHAR(14),
    city VARCHAR(30),
    maritalstatus VARCHAR(10),
    fullname VARCHAR(40),
    birthdate DATE
);

DROP DATABASE IF EXISTS mydb CASCADE;
OK
Time taken: 1.621 seconds
CREATE DATABASE mydb;
OK
Time taken: 0.094 seconds
USE mydb;
OK
Time taken: 0.006 seconds

CREATE TABLE persons (
    id INT ,
    ssn VARCHAR(11),
    phone VARCHAR(14),
    city VARCHAR(30),
    maritalstatus VARCHAR(10),
    fullname VARCHAR(40),
    birthdate DATE
);
OK
Time taken: 0.231 seconds

**INSERT** 

    INSERT INTO TABLE tablename VALUES values_row [, values_row ...]
    
    values_row: 
       (value [, value ...])
       
Note que a diferencia de SQL, aca no es posible indicar para que columnas se van a insertar los valores, de tal manera que siempre se deben dar valores para todas las columnas.

In [3]:
%%hive
--
-- Inserta el registro en la tabla.
-- Los valores están en el mismo orden de los campos.
--
INSERT INTO persons VALUES
   (1,"216-51-1025","(09)-5580-7527","Memphis (Tennessee)","Single","Marco Goodman","1988-06-30");
    
SELECT * FROM persons;

--
-- Inserta el registro en la tabla.
-- Los valores están en el mismo orden de los campos.
--
INSERT INTO persons VALUES
 Goodman","1988-06-30");
Query ID = jdvelasq_20180906213954_918427d1-0c85-4f19-bf25-ad834806d524
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-09-06 21:39:58,650 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local444891554_0001
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Users/jdvelasq/warehouse/mydb.db/persons/.hive-staging_hive_2018-09-06_21-39-54_945_4685980950099312180-1/-ext-10000
Loading data to table mydb.persons
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 3.833 seconds

SELECT * FROM persons;
OK
1	216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
Time taken: 0.138 seconds, Fetched: 1 row(s)

In [4]:
%%hive
--
-- Inserta varios registros a la vez.
-- Los valores deben estar en el mismo orden de los campos.
--
INSERT INTO persons VALUES
    (NULL, "116-51-1291","(07)-2905-7818","Buffalo (New York)","Married","Roxanne Kerns","1974-11-27"),
    (NULL, "177-44-1159","(09)-5062-6922","Detroit (Michigan)","Single","Regina Lauritzen","1969-07-27");
    
SELECT * FROM persons;

--
-- Inserta varios registros a la vez.
-- Los valores deben estar en el mismo orden de los campos.
--
INSERT INTO persons VALUES
Roxanne Kerns","1974-11-27"),
egina Lauritzen","1969-07-27");
Query ID = jdvelasq_20180906213959_13f98c73-4746-4aa9-bec1-2f20691a3022
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-09-06 21:40:01,161 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local1603309405_0002
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Users/jdvelasq/warehouse/mydb.db/persons/.hive-staging_hive_2018-09-06_21-39-59_462_7488909273717948123-1/-ext-10000
Loading data to table mydb.persons
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 1.782 seconds

SELECT * FROM persons;
OK
1	216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
NULL	116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
NULL	177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
Time taken: 0.08 seconds, Fetched: 3 row(s)

**UPDATE**

Hive no soporta operaciones de actualización de registros o grupos de registros en tablas.

**DELETE**

Hive no soporta operaciones de borrado de registros o grupos de registros en tablas.

**Escritura de datos al disco**

    INSERT OVERWRITE [LOCAL] DIRECTORY directory1
      [ROW FORMAT row_format] [STORED AS file_format] 
      SELECT ... FROM ...

Si el archivo requerido ya tiene el formato deseado, es posible copiarlo directamente del sistema de archivos. En caso contrario, puede usar un INSERT para realizar la conversión de formato.

In [5]:
%%hive
INSERT OVERWRITE LOCAL DIRECTORY 'persons-data'
ROW FORMAT 
DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM persons;

INSERT OVERWRITE LOCAL DIRECTORY 'persons-data'
ROW FORMAT
DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM persons;
Query ID = jdvelasq_20180906214001_f6f73721-bcb2-4e1f-809b-e968fd51c1fc
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-09-06 21:40:03,339 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local1867639099_0003
Moving data to local directory persons-data
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 1.665 seconds

In [6]:
## crea el directorio persons-data
!ls persons-data/

000000_0

In [7]:
!cat persons-data/*

1,216-51-1025,(09)-5580-7527,Memphis (Tennessee),Single,Marco Goodman,1988-06-30
\N,116-51-1291,(07)-2905-7818,Buffalo (New York),Married,Roxanne Kerns,1974-11-27
\N,177-44-1159,(09)-5062-6922,Detroit (Michigan),Single,Regina Lauritzen,1969-07-27

In [8]:
!cat persons-data/* > persons-data.csv

In [9]:
!cat persons-data.csv

1,216-51-1025,(09)-5580-7527,Memphis (Tennessee),Single,Marco Goodman,1988-06-30
\N,116-51-1291,(07)-2905-7818,Buffalo (New York),Married,Roxanne Kerns,1974-11-27
\N,177-44-1159,(09)-5062-6922,Detroit (Michigan),Single,Regina Lauritzen,1969-07-27

In [10]:
## se borra el archivo si existe
!rm -rf persons-data
!rm persons-data.csv

**SELECT**

    SELECT what FROM tbl_name [WHERE where-conditions] [ORDER BY column_name];

In [11]:
%%hive
--
-- Este es el comando básico para visualizar el contenido de la BD
--
SELECT * FROM persons;

--
-- Este es el comando básico para visualizar el contenido de la BD
--
SELECT * FROM persons;
OK
1	216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
NULL	116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
NULL	177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
Time taken: 0.08 seconds, Fetched: 3 row(s)

In [12]:
%%hive
--
-- Se limita la cantidad de registros a visualizar.
--
SELECT * FROM persons LIMIT 2;

--
-- Se limita la cantidad de registros a visualizar.
--
SELECT * FROM persons LIMIT 2;
OK
1	216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
NULL	116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
Time taken: 0.078 seconds, Fetched: 2 row(s)

In [13]:
%%hive
--
-- Este comando permite ver los registro únicos de un campo.
--
SELECT DISTINCT maritalstatus FROM persons;

--
-- Este comando permite ver los registro únicos de un campo.
--
SELECT DISTINCT maritalstatus FROM persons;
Query ID = jdvelasq_20180906214004_d3e9a66b-b43a-4ff6-8d7d-2a75e4cb713c
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-06 21:40:06,684 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local253899178_0004
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Married
Single
Time taken: 1.698 seconds, Fetched: 2 row(s)

In [14]:
%%hive
--
-- Se indica que campos se desean seleccionar.
--
SELECT ssn, fullname FROM persons;

--
-- Se indica que campos se desean seleccionar.
--
SELECT ssn, fullname FROM persons;
OK
216-51-1025	Marco Goodman
116-51-1291	Roxanne Kerns
177-44-1159	Regina Lauritzen
Time taken: 0.07 seconds, Fetched: 3 row(s)

In [15]:
%%hive
--
-- Expresiones regulares en los nombres
--
SELECT 's*' FROM persons;

--
-- Expresiones regulares en los nombres
--
SELECT 's*' FROM persons;
OK
s*
s*
s*
Time taken: 0.072 seconds, Fetched: 3 row(s)

In [16]:
%%hive
--
-- También es posible usar funciones y realizar cómputos con los
-- valores de las columnas
--
SELECT upper(fullname) FROM persons;

--
-- También es posible usar funciones y realizar cómputos con los
-- valores de las columnas
--
SELECT upper(fullname) FROM persons;
OK
MARCO GOODMAN
ROXANNE KERNS
REGINA LAURITZEN
Time taken: 0.074 seconds, Fetched: 3 row(s)

---
**Ejercicio.--** Cuáles funciones se pueden aplicar en `Hive` en una clausula SELECT?.

**Ejercicio.--** Qué función cumplen las siguientes funciones en una clausula SELECT?

* `explode`.


* `json_tuple`.


* `parse_url_tuple`.


* `stack`

---

**WHERE**

In [17]:
%%hive
--
-- Condicional.
--
SELECT * FROM persons WHERE birthdate >= "1974-01-01";

--
-- Condicional.
--
SELECT * FROM persons WHERE birthdate >= "1974-01-01";
OK
1	216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
NULL	116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
Time taken: 0.111 seconds, Fetched: 2 row(s)

La función LIKE permite buscar patrones específicos dentro de cadenas de caracteres.

    > LIKE 'a%'   : Encuentra los valores que inician con 'a'
    > LIKE '%a'   : Encuentra los valores que terminan con 'a'
    > LIKE '%a%'  : Encuentra los valores que contengan 'a' en cualquier posición
    > LIKE '_a%'  : Encuentra los valores que contengan 'a' en la segunda posición
    > LIKE 'a_%_%': Encuentra los valores que inician con 'a' y tienen al menos 3 caracteres
    > LIKE 'a%o'  : Encuentra los valores que inician con 'a' y terminan con 'o'

---
**Ejercicio.--** Que significa el comando `RLIKE` que soporta Hive?

---

In [18]:
%%hive
--
-- Condicional para cadenas de caracteres.
--
SELECT * FROM persons WHERE fullname LIKE "R%";

--
-- Condicional para cadenas de caracteres.
--
SELECT * FROM persons WHERE fullname LIKE "R%";
OK
NULL	116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
NULL	177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
Time taken: 0.071 seconds, Fetched: 2 row(s)

In [19]:
%%hive
--
-- Conectores lógicos (OR).
--
SELECT * FROM persons WHERE maritalstatus = 'Married' OR fullname LIKE 'R%';

--
-- Conectores lógicos (OR).
--
';
OK
NULL	116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
NULL	177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
Time taken: 0.076 seconds, Fetched: 2 row(s)

In [20]:
%%hive
--
-- Conectores lógicos (AND).
--
SELECT * FROM persons WHERE maritalstatus = 'Married' AND fullname LIKE 'R%';

--
-- Conectores lógicos (AND).
--
%';
OK
NULL	116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
Time taken: 0.075 seconds, Fetched: 1 row(s)

La función ORDER BY permite organizar los registros de manera ascendente (ORDER BY ... ASC) o de manera descendente (ORDER BY ... DESC). Por defecto, ordena de manera ascendente.

In [21]:
%%hive
--
-- Ordenamiento
--
SELECT * FROM persons ORDER BY maritalstatus LIMIT 4;

--
-- Ordenamiento
--
SELECT * FROM persons ORDER BY maritalstatus LIMIT 4;
Query ID = jdvelasq_20180906214009_502cc91b-7678-48be-bf0a-4561e06a694b
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-06 21:40:10,910 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1335954732_0005
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
NULL	116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
NULL	177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
1	216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
Time taken: 1.623 seconds, Fetched: 3 row(s)

In [22]:
%%hive
--
-- Condicional para campos string
--
SELECT * FROM persons WHERE maritalstatus IN ('Married','Single');

--
-- Condicional para campos string
--
SELECT * FROM persons WHERE maritalstatus IN ('Married','Single');
OK
1	216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
NULL	116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
NULL	177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
Time taken: 0.071 seconds, Fetched: 3 row(s)

In [23]:
%%hive
--
-- Condicional para campos string
--
SELECT * FROM persons WHERE maritalstatus NOT IN ('Married','Divorced');

--
-- Condicional para campos string
--
SELECT * FROM persons WHERE maritalstatus NOT IN ('Married','Divorced');
OK
1	216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
NULL	177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
Time taken: 0.065 seconds, Fetched: 2 row(s)

In [24]:
%%hive
--
-- Combinación de clausulas opcionales.
--
SELECT * FROM persons WHERE birthdate >= '1970-01-01' ORDER BY fullname;

--
-- Combinación de clausulas opcionales.
--
SELECT * FROM persons WHERE birthdate >= '1970-01-01' ORDER BY fullname;
Query ID = jdvelasq_20180906214011_da3bf8e2-0815-4033-84a3-c24b50343653
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-06 21:40:13,516 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local843192725_0006
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
1	216-51-1025	(09)-5580-7527	Memphis (Tennessee)	Single	Marco Goodman	1988-06-30
NULL	116-51-1291	(07)-2905-7818	Buffalo (New York)	Married	Roxanne Kerns	1974-11-27
Time taken: 1.734 seconds, Fetched: 2 row(s)

---
**Ejercicio.--** Calcule la edad promedio de las personas.

---

**FUNCIONES**

In [25]:
%%hive
--
-- Cuenta cuantos registros hay en la tabla.
--
SELECT COUNT(*) FROM persons;

--
-- Cuenta cuantos registros hay en la tabla.
--
SELECT COUNT(*) FROM persons;
OK
3
Time taken: 0.181 seconds, Fetched: 1 row(s)

In [26]:
%%hive
--
-- Cuenta la cantidad de registros con información 
-- en el campo fullname
--
SELECT COUNT(fullname) FROM persons;

--
-- Cuenta la cantidad de registros con información
-- en el campo fullname
--
SELECT COUNT(fullname) FROM persons;
Query ID = jdvelasq_20180906214014_f68031f7-683e-461c-aeed-5298f7c0679e
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-06 21:40:15,841 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1215288763_0007
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
3
Time taken: 1.612 seconds, Fetched: 1 row(s)

---
**Ejercicio.--** Calcule la suma de las edades de las personas.

---

In [27]:
%%hive
--
-- Cuenta cuantas veces aparece cada año
-- de nacimiento en la tabla.
--
SELECT YEAR(birthdate), COUNT(*) FROM persons GROUP BY YEAR(birthdate);

--
-- Cuenta cuantas veces aparece cada año
-- de nacimiento en la tabla.
--
SELECT YEAR(birthdate), COUNT(*) FROM persons GROUP BY YEAR(birthdate);
Query ID = jdvelasq_20180906214016_33ed0f7f-2664-41e4-a9a7-af1e511d945f
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-06 21:40:17,862 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1761202344_0008
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
1969	1
1974	1
1988	1
Time taken: 1.711 seconds, Fetched: 3 row(s)

In [28]:
%%hive
--
-- Cuenta cuantas veces aparece cada año
-- de nacimiento en la tabla.
--
SELECT YEAR(birthdate), COUNT(*) FROM persons GROUP BY YEAR(birthdate);

--
-- Cuenta cuantas veces aparece cada año
-- de nacimiento en la tabla.
--
SELECT YEAR(birthdate), COUNT(*) FROM persons GROUP BY YEAR(birthdate);
Query ID = jdvelasq_20180906214018_ac870230-a3cf-4d66-98f5-9c65a4d58edd
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-06 21:40:19,858 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1443383601_0009
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
1969	1
1974	1
1988	1
Time taken: 1.697 seconds, Fetched: 3 row(s)

---
**Ejercicio.--** Agregue la columna edad con la edad de las personas.

---

**SUBCONSULTAS**

In [29]:
%%hive
--
-- Sub-consultas.
-- Busca la persona más vieja en la tabla.
--
SELECT * FROM persons WHERE birthdate = (SELECT MIN(birthdate) FROM persons);

--
-- Sub-consultas.
-- Busca la persona más vieja en la tabla.
--
s);
Query ID = jdvelasq_20180906214020_0f375063-ef51-438b-81ca-f21673b351fe
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-09-06 21:40:22,006 Stage-2 map = 100%,  reduce = 100%
Ended Job = job_local2122374576_0010
SLF4J: Found binding in [jar:file:/Users/jdvelasq/hive/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
2018-09-06 21:40:35	Dump the side-table for tag: 0 with group count: 3 into file: file:/tmp/hive/java/jdvelasq/ee42b93c-3f20-4c48-996f-a3f301fad579/hive_2018-09-06_21-40-20_170_7351790960977525275-1/-local-10005/HashTable-Stage-3/MapJoin-mapfile00--.hashtable2018-09-06 21:40:35	Uploaded 1 File to: file:/tmp/hive/java/jdvelasq/ee42b93c-3f20-4c48-996f-a3f301fad579/hive_2018-09-06_21-40-20_170_7351790960977525275-1/-local-10005/HashTable-Stage-3/MapJoin-mapfile00--.hashtable (532 bytes)
Execution completed successfully
MapredLocal task succeeded
Launching Job 2 out of 2
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-09-06 21:40:40,743 Stage-3 map = 100%,  reduce = 0%
Ended Job = job_local1318583503_0011
MapReduce Jobs Launched:
Stage-Stage-2:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Stage-Stage-3:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
NULL	177-44-1159	(09)-5062-6922	Detroit (Michigan)	Single	Regina Lauritzen	1969-07-27
Time taken: 20.578 seconds, Fetched: 1 row(s)

---
**Ejercicio.--** Cómo se usa una clausula `CASE` ... `WHEN` ... `THEN` en Hive?

**Ejercicio.--** Cómo se usa una clausula `GROUPBY` en Hive?

**Ejercicio.--** Cómo se usa una clausula `HAVING` en Hive?
 
---

Gestión de Registros
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/apache-hive-course) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/apache-hive-course/tree/master/) para explorar el repositorio usando en `nbviewer`. 

---