Taller práctico - Apache Hive
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/apache-hive-course/blob/master/01-uso-interactivo.ipynb) para acceder a la última versión online

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/apache-hive-course/blob/master/01-uso-interactivo.ipynb) para ver la última versión online en `nbviewer`. 

---

### Descripción del problema

Usted ha sido elegido como gerente de talento humano de una compañía manufacturera que se dedica a la producción y comercialización de un producto orgánico a base de caña de azucar, en Colombia. Su primera tarea consiste en incluir la información sobre los empleados, que reposan hoy en día en archivos de Excel, en una base de datos estructurada y a continuación evaluar la equidad de salarios entre los cargos.

Los archivos contienen de la siguiente información:

> **salarios.csv**
    
         > empleado_id = Identificación del empleado
         > salario = Salario mensual en USD
         > desde = Fecha de inicio del contrato actual 
         > hasta = Fecha de finalización del contrato actual

> **empleados.csv**
    
         > empleado_id 
         > nombre 
         > f_nacimiento = Fecha de nacimiento
         > departamento_id = Identificación del departamento al que pertenece
         > SesionLog = identificación de la persona que recolectó la información.
         
> **contacto.csv**
    
         > empleado_id 
         > celular = Teléfono celular del empleado
         > dirección 
         > email
         > teléfono
         
> **departamento.csv**
    
         > empleado_id 
         > departamento_id
         > departamento 
         > cargo
         
         
A partir del planteamiento anterior, responda ante los siguientes requerimientos de información:

In [ ]:
%run hivemagic.py

In [ ]:
%load_ext sql_magic

In [ ]:
%load_ext sql

In [ ]:
import findspark
from pyspark import SparkContext, HiveContext    
findspark.init()
spark_context = SparkContext()
hive_context = HiveContext(spark_context)
%config SQL.conn_name = 'hive_context'

### Requerimiento 1. 
Cree una base de datos llamada `talento_humano`.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 2. 
De acuerdo con los archivos existentes, cree tablas en la base de datos que permitan almacenar toda la información.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 3. 
Establezca el ID de empleado como el registro de identificación en la base de datos, es decir, como la clave primaria de las tablas creadas.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 4. 
Cargue la información de los archivos a la base de datos.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 5. 
Obtenga salarios de todos los empleados de la compañía.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 7. 
Actualice el número de teléfono del empleado con ID = 70632172 con el dato (984) 331-3366.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 8. 
Obtenga los cargos únicos por departamento.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 9. 
Obtenga el número total de empleados y el salario promedio.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 10. 
Obtenga una tabla que contenga el ID de los empleados con cargo `Asistente` y aquellos que tenga un salario mayor a `6000 USD`.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 11. 
Obtenga una tabla que muestre la identificación de los empleados y su edad en años.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 12. 
Obtenga una tabla que contenga el empleado_ID y nombre de los empleados que tienen menos de `30 años`.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 13. 
Obtenga una tabla que muestre la identificación de los empleados, la duración de sus respectivos contratos en meses y cuanto tiempo resta del mismo.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 14. 
Obtenga el salario promedio por departamento

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 15. 
Obtenga el salario promedio por cargo

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 16. 
Obtenga una tabla que contenga los datos personales del empleado, departamento, cargo y salario.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 17. 
Exporte la tabla anterior a un archivo `.csv`.

In [ ]:
%%read_sql
-- inserte su codigo aquí

### Requerimiento 18. 
Obtenga una tabla que muestre el nombre, email y teléfono de los empleados que tienen entre `25 - 28 años`.

In [ ]:
%%read_sql
-- inserte su codigo aquí

---

Taller práctico - Apache Hive
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/apache-hive-course/blob/master/01-uso-interactivo.ipynb) para acceder a la última versión online

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/apache-hive-course/blob/master/01-uso-interactivo.ipynb) para ver la última versión online en `nbviewer`. 

---